.body{
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 3px 5px 10px rgba(0,0,0,0.3);

  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  
  max-width: 1300px;
  box-sizing: border-box;
}

.loading, .error{
  font-size: 50px;
  color: #27c7ff;
  text-align: center;
}

.error{
  color: red;
}

.more-talents{
  font-size: 20px;
  color:black;
  font-weight: 900;

  background-color: #27c7ff;

  margin: auto;
  padding: 5px;
  
  outline: none;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: 200ms;
}

.more-talents:disabled{
  opacity: 0.5;
}

.more-talents:hover{
  background-color: #f477a6;
}
