.title{
  margin: 10px auto;
  max-width: 1300px;

  box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  
  font-size: 40px;
  font-weight: 800;

  color: #27c7ff;
  background-color: white;

  text-align: center;
  
  transition: 200ms;
}

.title:hover{
  color: white;
  background-color: #27c7ff;
}


