.talent-card{
  display: flex;

  flex-direction: row;

  align-items: center;

  gap: 10px;
  font-size: 20px;

  padding: 5px;
  margin: 10px auto;

  background: white;

  border-radius: 10px;

  transition: 200ms;
  overflow: hidden;

  width: 90%;
}

@media screen and (width < 500px) {
  .talent-card{
    gap: 5px;
    box-shadow: 2px 2px 2px #4d9fee;
    flex-direction: column;
  }
}

.talent-card:hover{
  box-shadow: 2px 2px 2px #f477a6;
  background: #27c7ff;
}

/* #region profile-image */
.talent-card .profile-image img{
  height: 100px;

  z-index: 10;

  border-radius: 100%;

  position: relative;
}

.talent-card .profile-image .image-container{
  border-radius: 100%;
  border: 5px solid #4d9fee;
  width: 110px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  transition: 200ms;
}

.talent-card .profile-image .image-container:hover{
  border: 5px solid #f477a6;
}

.talent-card .profile-image .default{
  filter: grayscale(80%) contrast(30%) brightness(160%) blur(1px);
}
/* #endregion */


/* #region details */
.talent-card .details{
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.talent-card .details .name-and-group{
  border-bottom: #4d9fee 2px solid;
  padding-right: 15px;

  font-weight: 900;

  transition: 200ms;

  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

@media screen and (width < 500px){
  .talent-card .details{
    width: fit-content;
    max-width: 90%;
    text-align: center;
  }

  .talent-card .details .subs,
  .talent-card .details .topics{
    display: none;
  }

  .talent-card .details .name-and-group{
    padding: 0 15px;
  }
}

.talent-card:has(.profile-image .image-container:hover) .details .name-and-group{
  border-bottom: #f477a6 2px solid;
}

.talent-card .details .subs{
  margin-left: 5px;
  white-space: nowrap;

  overflow: hidden;
}
/* #endregion */

/* #region socials */
.talent-card .socials{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
  
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.talent-card .socials .twitch,
.talent-card .socials .twitter{
  display: flex;
}

.talent-card .socials .twitch img,
.talent-card .socials .twitter img{
  align-self: center;
}

.talent-card .socials .twitch img{
  height: 25px;
}

.talent-card .socials .twitter img{
  height: 25px;
}

.talent-card .socials a{
  text-decoration: none;
  color: #4d9fee;
  font-weight: 900;

  transition: 200ms;

  align-self: flex-end;
}

.talent-card .socials a:hover{
  color: #f477a6;
}

.talent-card:hover .socials a:not(:hover){
  color: white;
}


@media screen and (width < 500px) {
  .talent-card .socials{
    flex-direction: row;
    align-self: center;
    margin-left: 0;
  }
}


/* #endregion */