.talent-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
  width: 90%;

  background: white;

  font-size: 20px;

  padding: 5px;
  margin: 10px auto;
  border-radius: 10px;

  overflow: hidden;
  
  cursor: pointer;

  transition: 200ms;
}

@media screen and (width < 500px) {
  .talent-card{
    flex-direction: column;
    gap: 5px;

    box-shadow: 2px 2px 2px #4d9fee;
  }
}

.talent-card:hover{
  background: #27c7ff;
  box-shadow: 2px 2px 2px #f477a6;
}

/* #region profile-image */
.talent-card .profile-image img{
  position: relative;
  height: 100px;

  border-radius: 100%;
  z-index: 10;
}

.talent-card .profile-image .image-container{
  display: flex;
  align-items: center;

  border: 5px solid #4d9fee;
  border-radius: 100%;

  width: fit-content;
  box-sizing: border-box;

  transition: 200ms;
}

.talent-card .profile-image .image-container:hover{
  border: 5px solid #f477a6;
}

.talent-card .profile-image .default{
  filter: grayscale(80%) contrast(30%) brightness(160%) blur(1px);
}

@media screen and (width < 500px){
  .talent-card .profile-image img{
    height: 75px;
  }
}
/* #endregion */

/* #region details */
.talent-card .details{
  position: relative;

  display: flex;
  flex-direction: column;

  width: 60%;
  
  color: black;
  text-decoration: none;

  z-index: 0;
}

.talent-card .details .name-and-group{
  border-bottom: #4d9fee 3px solid;

  margin-left: -30px;
  padding-right: 15px;
  padding-left: 30px;

  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  transition: 200ms;
}

.talent-card:has(.details .name-and-group:hover) .profile-image .image-container,
.talent-card .details .name-and-group:hover{
  border-color: #f477a6;
}

@media screen and (width < 500px){
  .talent-card .details{
    width: fit-content;
    max-width: 90%;
    text-align: center;
  }

  .talent-card .details .subs,
  .talent-card .details .topics{
    display: none;
  }

  .talent-card .details .name-and-group{
    margin: 0;
    padding: 0 15px;
  }
}

.talent-card:has(.profile-image .image-container:hover) .details .name-and-group{
  border-bottom: #f477a6 3px solid;
}

.talent-card .details .subs{
  margin-left: 5px;

  white-space: nowrap;
  overflow: hidden;
}
/* #endregion */

/* #region socials */
.talent-card .socials{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
  
  margin-left: auto;

  text-overflow: ellipsis;
  overflow: hidden;

  z-index: 10;
}

.talent-card .socials .twitch,
.talent-card .socials .twitter{
  display: flex;
}

.talent-card .socials .twitch img,
.talent-card .socials .twitter img{
  align-self: center;
}

.talent-card .socials .twitch img{
  height: 25px;
}

.talent-card .socials .twitter img{
  height: 25px;
}

.talent-card .socials a{
  align-self: flex-end;

  text-decoration: none;
  color: #4d9fee;
  font-weight: 900;

  transition: 200ms;
}

.talent-card .socials a:hover{
  color: #f477a6;
}

.talent-card:hover .socials a:not(:hover){
  color: white;
}

@media screen and (width < 500px) {
  .talent-card .socials{
    flex-direction: row;
    align-self: center;
    justify-content: space-around;

    margin-left: 0;

    width: 50%;
  }
}

/* #endregion */