@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: white;
  margin: auto;
  padding: 0;
}

@media screen and (width > 700px) {
  body{
    width: 90vw;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27c7ff;
  border-radius: 10px;
}
