@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: white;
  width: 90vw;
  margin: auto;
}


