.navbar{
  width: fit-content;
  margin: 10px auto;
  box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
}

/* #region Title */
.navbar-title{
  font-size: 40px;
  font-weight: 800;
  color: #27c7ff;

  border-bottom: #ff7dc2 2px solid;
  padding: 0 30px;
  background-color: white;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align: center;

  transition: 200ms;
}

.navbar-title:hover, .navbar-body:has(input:focus), .navbar-body:hover{
  color: white;
  background-color: #27c7ff;
}

/* #endregion */

/* #region Body */

.navbar-body{
  background-color: white;
  display: flex;
  align-items: center;
  transition: 200ms;
}

/* #region Searchbar*/

.navbar-body .searchbar{
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-body input{
  margin: 10px 0;
  outline: none;
  border: none;

  width: fit-content;

  background-color: #27c7ff;
  color: white;
  
  font-size: 30px;
  font-weight: 900;
  padding: 0 5px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  transition: 200ms;
}


.navbar-body input:focus, 
.navbar-body:hover input{
  background-color: white;
  color: #27c7ff
}

.navbar-body input::placeholder{
  color: white;
  font-weight: 100;

  transition: 200ms;
}

.navbar-body:hover input::placeholder{
  color: #27c7ff;
}

.navbar-body input:focus::placeholder{
  color: #ff7dc2;
}

.navbar-body button{
  background-color: #27c7ff;
  color: white;
  font-weight: 900;
  font-size: 20px;

  cursor: pointer;

  outline: none;
  border: none;
  border-radius: 10px;

  padding: 7px;

  transition: 200ms;
}

.navbar-body:has(input:focus) button:not(:hover), 
.navbar-body:hover button{
  background-color: white;
  color: #27c7ff
}

.navbar-body button:hover{
  background-color: #ff7dc2;
  color: white;
}


/* #endregion */

/* #region links */

.navbar-body .links{
  margin-left: auto;
  margin-right: 10px;

  font-size: 20px;

}

.navbar-body:has(input:focus) a, 
.navbar-body:hover a{
  background-color: white;
  color: #27c7ff
}

.links a{
  background-color: #27c7ff;
  color: white;
  text-decoration: none;
  font-weight: 900;

  padding: 7px;
  border-radius: 10px;

  transition: 200ms;
}

.links a:hover{
  background-color: #ff7dc2;
  color: white;
}

/* #endregion */

/* #endregion */