.talent-card{
  display: flex;
  align-items: center;

  gap: 10px;
  font-size: 20px;

  padding: 5px;
  margin: 10px auto;

  background: white;

  border-radius: 10px;

  transition: 200ms;
  overflow: hidden;
}

.talent-card:hover{
  box-shadow: 2px 2px 2px #f477a6;
  background: #27c7ff;
}

/* #region profile-image */
.talent-card .profile-image img{
  height: 100px;

  border-radius: 100%;

  position: relative;
}

.talent-card .profile-image .image-container{
  border-radius: 100%;
  border: 5px solid #4d9fee;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  transition: 200ms;
}

.talent-card .profile-image .image-container:hover{
  border: 5px solid #f477a6;
}

.talent-card .profile-image .default{
  filter: grayscale(80%) contrast(30%) brightness(160%) blur(1px);
}
/* #endregion */


/* #region details */
.talent-card .details{
  display: flex;
  flex-direction: column;
}

.talent-card .details .name-and-group{
  border-bottom: #4d9fee 2px solid;
  padding-right: 15px;

  font-weight: 900;

  transition: 200ms;
}

.talent-card:has(.profile-image .image-container:hover) .details .name-and-group{
  border-bottom: #f477a6 2px solid;
}

.talent-card .details .subs{
  margin-left: 5px;
  white-space: nowrap;

  overflow: hidden;
}
/* #endregion */


/* #region socials */
.talent-card .socials{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
}

.talent-card .socials .twitch,
.talent-card .socials .twitter{
  display: flex;
}

.talent-card .socials .twitch img,
.talent-card .socials .twitter img{
  height: 30px;
  align-self: center;
}

.talent-card .socials a{
  text-decoration: none;
  color: #4d9fee;
  font-weight: 900;

  transition: 200ms;

  align-self: flex-end;
}

.talent-card .socials a:hover{
  color: #f477a6;
}

.talent-card:hover .socials a:not(:hover){
  color: white;
}




/* #endregion */